.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #f6f7f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/*.container{
  background-image: url(./image.jpg);        
    background-repeat: no-repeat, repeat;
    background-size: cover;
    position: absolute; 
    top: 30%; 
    left: 0%; 
    width: 500%; 
    height: 200%;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
.footer {
  position: absolute;
  bottom: 10;
  width:100%;
  height: 50px;
  background-color:black;
  text-align: center;
  color: white;
}
.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}
 
.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}
