body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.col-md-12
{
  border-radius:1px;
  background:url("C:\Users\pj2\Downloads\GetOnlineCertificate(2)\GetOnlineCertificate(2)\src\image\img4.png");
  background-size: cover;
  padding:25px;
  min-height: 95px;
}

label {
  color :rgb(22, 21, 22);
  font-family: 'Times New Roman', Times, serif;
  display: block;
  margin-top: 10px;
}

button[type=submit]
{
  background-color: blue;
  color: azure;
  padding: 10px 65px;
  border: none;
  border-radius:4px;
  cursor: pointer;
  float:center;
}
.box{
  background-color:rgb(164, 213, 247);
  border-radius:20px;
  max-width:25vw;
  padding:12px;
  }
  .box input{
    width:90%;
    }

    .box img{
      border-radius: 50%;}
